/* need to add disabled */

.Radio{
  position:relative;
  height:20px;
  margin-bottom:5px;
}

.Radio__Input{
  position:absolute;
  left:40px;
  top:0px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 20px;
  border: 2px solid #DA4735;
  cursor:pointer;
}

.Radio__Input div{
  background: #DA4735;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

.Radio__Text{
  position: absolute;
  left: 0px;
  top: 4px;
  color:#CCC;
}
