/* need to add disabled */

.Radio{
  position:relative;
  height:20px;
  margin-bottom:5px;
}

.Radio__Input{
  float:left;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 20px;
  border: 2px solid #1092A0;
  cursor:pointer;
}

.Radio__Input div{
  background: #1092A0;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

.Radio__Text{
  line-height: 20px;
  margin-left: 5px;
  float: left;
  font-size: 16px;
  color: #82B1B4;
}
