.button{
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background: #1092A0;
  border-bottom: 3px solid #2F515D;
  color: #fff;
  cursor: pointer;
}
.button:active{
  border-bottom:0px;
  border-top: 1px solid #2F515D;
}

.button--disabled{
  background: #D9D9D9;
  border-bottom: 2px solid #707070;
  color:#888;
}

.button--disabled:active{
  border-bottom: 2px solid #707070;
  border-top:0px;
}

.button--typeclick{

}

.button--typetoggle{

}

.button--typetext{

}

.button__btninput{

}

.button__btninput--click{

}

.button__btninput--toggle{

}

.button__btninput--toggled{

}

.button__btninput--untoggled{

}

.button__btninput__content{

}

.button__btninput--toggled .button__btninput__content{

}

.button__btninput--untoggled .button__btninput__content{

}
