.Button{
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  background: #1092A0;
  border-bottom: 2px solid #2F515D;
  color: #f2f2f2;
  cursor: pointer;
  font-size:16px;
}
.Button:active{
  border-bottom:0px;
  border-top: 1px solid #2F515D;
}

.Button--enabled{

}

.Button--disabled{
  background: #D9D9D9;
  border-bottom: 2px solid #707070;
  color:#888;
}

.Button--disabled:active{
  border-bottom: 2px solid #707070;
  border-top:0px;
}

.Button--typeclick{

}

.Button--typetoggle{

}

.Button--typetext{

}

.Button__Input{
  display:block;
  width:100%;
  height:100%;
}

.Button__Input:hover{
  text-decoration:none !important;
}

.Button__Input--typeclick{

}

.Button__Input--typetoggle{

}

.Button__Input--typetext{

}

.Button__Input--toggled{

}

.Button__Input--untoggled{

}

.Button__Input__Content{
  color:#fff;
}

.Button__Input--toggled .Button__Input__Content{

}

.Button__Input--untoggled .Button__Input__Content{

}
