.edit_login {
  height: 345px;
  width: 360px;
  background: #fff;
  position: fixed;
  z-index: 2;
  top: 30px;
  left: 50%;
  margin-left: -180px;
  border-radius: 10px;
}

.edit_login_Overlay {
  width: 100%;
  height: 100%;
  background: rgba(70, 70, 70, 0.50);
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.edit_login_Title {
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #A9A9A9;
    font-size: 30px;
    font-family: sans-serif;
}

.edit_login_Form input {
  width: 260px;
  padding:15px;
  position: absolute;
  left: 50%;
  margin-left: -145px;
  border-radius: 5px;
  border: 1px solid rgb(230, 228, 228);
  box-shadow: #333 0px 2px 5px -2px inset;
  text-align: center;
  font-size: 20px;
  color: #a9a9a9;
}

.edit_login_Form_User {
  top:60px;
}

.edit_login_Form_Pass {
  top:135px;
}

.edit_login_Form input:focus {
  outline:none;
  border:1px solid rgb(171, 196, 255);
}

.edit_login_Submit {
  width: 260px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  padding: 15px;
  margin-left: -145px;
  text-align: center;
  background: #89bfef;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #b5b5b5;
  box-shadow: #000 0px 4px 6px -6px;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
}

.edit_login_Submit:active {
  box-shadow: #000 0px 2px 9px -4px inset;
}

.edit_login_Remember {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #A9A9A9;
  position: absolute;
  bottom: 20px;
  width: 265px;
  left: 50%;
  margin-left: -145px;
  padding: 15px;
  cursor: pointer;
}

.edit_login_Remember:active {
  color:#CCC;
}

.edit_login_Warning {
  display: block;
  width: 360px;
  position: fixed;
  z-index: 2;
  top: 391px;
  left: 50%;
  margin-left: -180px;
  border-radius: 10px;
  font-family: sans-serif;
}

.edit_login--Warning_error .edit_login_Warning {
  background: #ff9e9e;
}

.edit_login--Warning_success .edit_login_Warning {
  background: #317432;
}

.edit_login_Warning_Message {
    padding: 15px;
    color: #fff;
    font-size: 16px;
}
.edit_login_Warning_Close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
  font-size:20px;
}

.edit_login--Warning_error .edit_login_Warning_Close {
  color: #cd7f7f;
}

.edit_login--Warning_success .edit_login_Warning_Close {
  color: #134813;
}

.edit_login--Warning_error .edit_login_Warning_Close:active {
  color: #e79090;
}

.edit_login--Warning_success .edit_login_Warning_Close:active {
  color: #358235;
}
